@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,300&family=Oswald:wght@300&family=Poppins:wght@300&display=swap');
@import 'colores';
* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
$font-family-articulos:'Poppins', sans-serif;
body {
    background-image: url(../assets/img/leaves.png);

}
.contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.imagen__logo {
    border-radius: 20px;
    margin: 20px;
}
nav {
    background-image: linear-gradient(wheat, white);
}
header {
    text-align: center;
    width:100%;
    padding: 10px;
    margin: 20px 10px; 
    .header__titulo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
        justify-content: center;
        margin: 20px 0;
        color: $color-letra-titulo;
        background-color: wheat;
        border: 1px solid black;
        padding: 20px 0;
    }
    .header__img {
        width:80%;
    }
}

section {
   width: 100%;
   margin: 0px;
}
.articuloUno {
    border: 2px solid $color-border;
    border-radius: 50px;
    text-align: center;
    padding: 35px;
    height: 100%;
    background-image: $color-background-gradiente;
    margin: 30px 10px;
    .articuloUno__titulo {
        margin: 10px;
        color: $color-letra-titulo;
        font-family: $font-family-articulos;
    }
    .articuloUno__titulo a {
        text-decoration: none;
        color: $color-letra-titulo;
    }
    .articuloUno__img {
        height: 75%;
        width: 50%  ;
    }
    .articuloUno__parrafo {
        text-align: center;
        font-size: large;
        font-family: $font-family-articulos;
        margin: 20px 0;
    }
}

.articuloDos {
    border: 2px solid $color-border;;
    border-radius: 50px;
    text-align: center;
    padding: 25px;
    height: 90%;
    background-image: $color-background-gradiente;
    margin: 0px 10px;
    .articuloDos__titulo {
        margin: 10px 0 20px 0;
        color: $color-letra-titulo;
        font-family: $font-family-articulos;
    }
    table {
        width: 100%;
        align-content: center;
        margin: 0px;
    }
    table, td, th {
        border: 1px solid rgb(150, 107, 29);
    }
}
.articuloTres {
    text-align: center; 
    padding: 35px;
    height: 50%;
    .articuloTres__titulo {
        margin: 10px;
        border: 2px solid $color-border;
        background-image: $color-background-gradiente;
        padding: 25px;
        color: $color-letra-titulo;
        font-family: $font-family-articulos;
        }
}

aside {
    justify-content: center;
}
form {
    width: 90%;
    margin: 20px;
}

footer {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Karla', sans-serif;
}
@media screen and (min-width: 768px) {
    .contenedor { 
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    nav {
        grid-column: 1/3;
    }
    header {
        grid-column: 1/3;
    }
    section {
        grid-column: 1/3;
    }
    .separador {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .articuloUno {
        height: auto;
    }
    .articuloTres {
        height: 40%;
    }
    aside {
        grid-column: 1/3;
        display: flex;
    }
    footer { 
        grid-column: 1/3;
    }
}
@media screen and (min-width: 1024px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav {
        grid-column: 1/4;
    }
    .contenedor__nav__ulItem {
        padding: 20px;
    }
    header {
        grid-column: 1/4;
    }
    aside {
        grid-column: 3/4;
    }
    .formulario {
        width: 100%;
        margin: 0px;
    }
    .formulario__label {
        padding: 20px;
    }
    .articuloTres__video{
        height: 70%;
    }
    footer {
        grid-column: 1/4;
    }
}